header {
    background-color: #333;

    h1 {
        font-size: 60px;
        text-align: center;
        padding: 20px 0 20px 0;
        font-weight: 700;
        color: #FFF;
    }
    
    h2{
        text-align: center;
        font-size: 28px;
        padding: 0 0 20px 0;
        color: #FFF;
    }
}

#platos {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.plato {
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    width: calc(33% - 40px);
    float: left;
    border: 10px solid #eee;
    cursor: pointer;
    text-align: center;

    h3 {
        font-size: 40px;
        font-weight: 700;
    }

    p {
        font-size: 24px;
        padding: 15px 0 15px 0;
    }

    img {
        width: 100%;
    }

}

.plato:hover {
    background-color: #333;
    border: 10px solid #222;
    color: #FFF;
    
    h3, p, a{
        color: #FFF;
    }
}



#footer-social-media {
    list-style: none;
    margin: 3em;
    display: flex;
    justify-content: center;
    
    li {
        text-align: center;
        padding: 20px;
    }

    a {
        text-decoration: none;
        color: #867452;
        
        p {
            font-size: 30px;
            font-weight: 700;
        }
        
        .bevel {
            text-shadow: 1px 1px 1px #555, -1px -1px 1px #000;
            color: #867452;
        }
    }


}

@media (max-width: 768px) {
    .plato {
        width: calc(50% - 40px);
    }
}

@media (max-width: 600px) {
    .plato {
        width: calc(100% - 40px);
    }
    
    #footer-social-media{
        display: inline;
    }
}